# Exploratory Analysis

**CS 5306 - Project 1**

*Team Members: Wenren Zhou (wz366), Alicia Chen (ac2596), Julie Phan (jp2254)*

**Question:** How do user demographics impact contribution and participation on Stack Overflow?

**Data Source:**
Stack Overflow Annual Developer Survey (https://insights.stackoverflow.com/survey)
We will use the annual developer survey from Stack Overflow, which is the largest and most comprehensive survey of software developers and it is made available under the Open Database License.

**Details on Survey (overview of the survey topics):**
There are six sections in this survey, which are: 1. Basic Information; 2. Education, Work, and Career; 3. Technology and Tech Culture; 4. Stack Overflow Usage + Community; 5. Demographic Information; 6. Final Qs. Most questions are optional and the results are anonymized to protect personal information of participants. With nearly 80,000 responses from over 180 countries and territories, this survey collects all-round information of the participants from identity to education background, and their developer experience from programming skills to participation in open source communities.


Some questions that we will explore include: Which demographic groups (age, gender, ethnicity, sexual orientation, disability status, and mental health) have the highest proportion of engagement? The lowest? Which groups are (proportionally) most likely and least likely to be contributors and not just users of the platform? We will also investigate intersectional behavior and trends, such as how non-straight people of color interact with the platform, and how that might differ from heterosexual individuals of color or non-straight and white individuals. Lastly, we will look at how the demographics of Stack Overflow users compare to demographics of other similar spaces (i.e. Quora).

In [2]:
import pandas
import matplotlib.pyplot as plt
from pandas.api.types import CategoricalDtype
import pprint

In [3]:
# loading the dataset
survey = pandas.read_csv("/Users/juliexphan/Documents/1 - Fall 2021/4 - CS 5306/cs5306-p1/survey_results_public.csv")
survey.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [6]:
survey.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [7]:
# Survey Size
survey.size

4005072

In [8]:
total_respondents = len(survey)
print("Total Respondents:", total_respondents)

Total Respondents: 83439

In [12]:
# Parse Data Function - counting for multiple data selections in survey
def simplify_data(demographic_df):
    df_dict = {}
    for index, value in demographic_df.value_counts().items():
        keys = index.split(";")
        for k in keys:
            if k in df_dict:
                df_dict[k] += value
            else:
                df_dict[k] = value
    return df_dict

## Gender

In [13]:
# Gender - raw values of all responses ("check all that apply")
# Survey results do not actually include the "Or, in your own words" responses 
# NaN dropped from dataset
gender = survey['Gender'].value_counts()
gender_df = pandas.DataFrame(gender)
gender_df

                                                    Gender
Man                                                  74817
Woman                                                 4120
Prefer not to say                                     1442
Non-binary, genderqueer, or gender non-conforming      690
Or, in your own words:                                 413
Man;Or, in your own words:                             268
Man;Non-binary, genderqueer, or gender non-conf...     252
Woman;Non-binary, genderqueer, or gender non-co...     147
Man;Woman                                               41
Man;Woman;Non-binary, genderqueer, or gender no...      21
Non-binary, genderqueer, or gender non-conformi...      21
Man;Woman;Non-binary, genderqueer, or gender no...      17
Woman;Or, in your own words:                            16
Man;Non-binary, genderqueer, or gender non-conf...      11
Woman;Non-binary, genderqueer, or gender non-co...       9
Man;Woman;Or, in your own words:                         1

In [14]:
# Simplified data for gender 
gender_data = survey['Gender'].copy()
gender_simp = simplify_data(gender_data)
gender_simp_df = pandas.DataFrame(list(gender_simp.items()),columns=["Gender","# People"])
gender_simp_df.set_index("Gender")

                                                   # People
Gender
Man                                                   75428
Woman                                                  4372
Prefer not to say                                      1442
Non-binary, genderqueer, or gender non-conforming      1168
Or, in your own words:                                  756

## Age

In [15]:
# Age - sorted in the way that it appears in the survey
# NaN values are dropped 
age = survey['Age'].value_counts()
age_df = pandas.DataFrame(age, index = ['Under 18 years old', '18-24 years old', '25-34 years old', 
                                        '35-44 years old','45-54 years old', '55-64 years old', 
                                        '65 years or older', 'Prefer not to say'])
age_df

                      Age
Under 18 years old   5376
18-24 years old     20993
25-34 years old     32568
35-44 years old     15183
45-54 years old      5472
55-64 years old      1819
65 years or older     421
Prefer not to say     575

## Ethnicity

In [16]:
# Ethnicity - sorted the way it appears in the survey
'''
Black or of African descent East Asian
Hispanic or Latino/a/x Middle Eastern
White or of European descent
Biracial
Indigenous (such as Native American, Pacific Islander, or Indigenous Australian) South Asian
Multiracial
Southeast Asian
I don't know
Prefer not to say
''' 
# Removed "Or, in your own words" -> value is not specified in dataset

ethnicity_df = pandas.DataFrame(survey['Ethnicity'].value_counts())

In [17]:
# Simplified data for gender 
ethnicity_data = survey['Ethnicity'].copy()
ethnicity_simp = simplify_data(ethnicity_data)
ethnicity_simp_df = pandas.DataFrame(list(ethnicity_simp.items()),columns=["Ethnicity","# People"])
ethnicity_simp_df.set_index("Ethnicity")

                                                    # People
Ethnicity
White or of European descent                           46434
South Asian                                             9214
Hispanic or Latino/a/x                                  5570
Southeast Asian                                         4083
Prefer not to say                                       3062
Middle Eastern                                          4222
East Asian                                              3735
I don't know                                            2684
Black or of African descent                             2686
Or, in your own words:                                  2916
Multiracial                                             1317
Biracial                                                 939
Indigenous (such as Native American, Pacific Is...       575

## Sexual Orientation

In [18]:
# Sexual Orientation - sorted the way it appears in the survey
'''
Straight / Heterosexul
Prefer not to say
Bisexual
Gay or Lesbian
Prefer to self-describe
''' 
# Removed "Or, in your own words" -> value is not specified in dataset

# sexuality_df = pandas.DataFrame(survey['Sexuality'].value_counts())
sexuality_data = survey['Sexuality'].copy()
sexuality_simp = simplify_data(sexuality_data)
sexuality_simp_df = pandas.DataFrame(list(sexuality_simp.items()),columns=["Sexuality","# People"])
sexuality_simp_df.set_index("Sexuality")

                          # People
Sexuality
Straight / Heterosexual      62006
Prefer not to say             4783
Bisexual                      3929
Gay or Lesbian                1753
Prefer to self-describe:      1679
Queer                         1101

## Years of Experience

In [19]:
# YearsCode - sorted the way it appears in the survey
'''
Less than 1 year
1
2
...
49
50
More than 50
''' 
# Removed "Or, in your own words" -> value is not specified in dataset

years_exp_df = pandas.DataFrame(survey['YearsCode'].value_counts())
# years_exp_df

In [20]:
years_exp_data = survey['YearsCode'].copy()
years_exp_simp = simplify_data(years_exp_data)
years_exp_simp_df = pandas.DataFrame(list(years_exp_simp.items()),columns=["YearsCode","# People"])
years_exp_simp_df.set_index("YearsCode").sort_values(by=["YearsCode"])

                    # People
YearsCode
1                       1695
10                      6067
11                      2344
12                      3188
13                      2016
14                      1813
15                      3625
16                      1491
17                      1331
18                      1386
19                       659
2                       3342
20                      3419
21                       863
22                       941
23                       811
24                       639
25                      1984
26                       533
27                       492
28                       455
29                       197
3                       4449
30                      1660
31                       219
32                       331
33                       309
34                       268
35                      1007
36                       264
37                       329
38                       361
39                       205
4                       5049
40                       830
41                       179
42                       203
43                       124
44                        90
45                       156
46                        67
47                        52
48                        33
49                        30
5                       6190
50                        58
6                       5565
7                       4940
8                       4714
9                       3009
Less than 1 year        1489
More than 50 years       170

# 2D Analysis

**Categories**
* Gender x Ethnicity
* Gender x Age
* Gender x Years Experience
* Ethnicity x Age
* Ethnicity x Years Experience
* Sexual Orientation x Age

In [26]:
def simplify_data_2d(combined_df):
    
    df_dict = {}
    for index, value in combined_df.value_counts().items():
        full = index.split("|")
        d1_keys = full[0].split(";")
        d2_keys = full[1].split(";")

        for d1 in d1_keys:
            if d1 not in df_dict:
                df_dict[d1] = {}
            for d2 in d2_keys:
                if d2 in df_dict[d1]:
                    df_dict[d1][d2] += value
                else:
                    df_dict[d1][d2] = value
                
    return df_dict

In [43]:
def analyze_usage_1d(demographic, metric):
    combined_df = survey[demographic] + "|" + survey[metric]
    
    df_dict = {}
    for index, value in combined_df.value_counts().items():
        full = index.split("|")
        d1_keys = full[0].split(";")
        d2_keys = full[1].split(";")

        for d1 in d1_keys:
            if d1 not in df_dict:
                df_dict[d1] = {}
            for d2 in d2_keys:
                if d2 in df_dict[d1]:
                    df_dict[d1][d2] += value
                else:
                    df_dict[d1][d2] = value
                
    return df_dict

In [44]:
def analyze_all_usage(demographic):
    visit = analyze_usage_1d(demographic, 'SOVisitFreq')
    part = analyze_usage_1d(demographic, 'SOPartFreq')
    comm = analyze_usage_1d(demographic, 'SOComm')
    
    visit_df = pandas.DataFrame.from_dict(visit)
    part_df = pandas.DataFrame.from_dict(part)
    comm_df = pandas.DataFrame.from_dict(comm)
    
    visit_df.to_excel(demographic + ' vs. ' +'visit.xlsx')
    part_df.to_excel(demographic + ' vs. ' +'participation.xlsx')
    comm_df.to_excel(demographic + ' vs. ' +'community.xlsx')
    
    return visit_df, part_df, comm_df

## Gender x Ethnicity

In [27]:
combined_df = survey['Gender'] +"|" + survey['Ethnicity']
gender_ethnicity_dict = simplify_data_2d(combined_df)
pandas.DataFrame.from_dict(gender_ethnicity_dict)

,Man,Woman,Prefer not to say,"Non-binary, genderqueer, or gender non-conforming","Or, in your own words:"
White or of European descent,43253,2279,246,835,363
South Asian,8570,506,72,57,54
Hispanic or Latino/a/x,5156,306,31,113,61
Southeast Asian,3677,296,59,60,57
Middle Eastern,3904,237,27,74,56
East Asian,3289,328,44,102,49
Prefer not to say,2048,151,796,30,36
Black or of African descent,2418,198,29,56,51
I don't know,2366,170,78,46,75
"Or, in your own words:",2559,167,26,59,235
Multiracial,1147,106,24,66,49
Biracial,790,94,19,65,38
"Indigenous (such as Native American, Pacific Islander, or Indigenous Australian)",481,56,15,39,44

## Gender x Usage

In [45]:
visit, part, comm = analyze_all_usage('Gender')

In [63]:
#visit

In [62]:
#part

In [61]:
#comm

## Mental Health and Usage

In [49]:
visit, part, comm = analyze_all_usage('MentalHealth')

In [60]:
#visit

In [58]:
#part

In [59]:
#comm

## Ethnicity x Usage

In [53]:
visit, part, comm = analyze_all_usage('Ethnicity')

In [55]:
#visit

In [56]:
#part

In [57]:
#comm

## Sexuality and Usage

In [64]:
visit, part, comm = analyze_all_usage('Sexuality')